.lista{
max-width: 900px;  
display: grid;
grid-template-columns:  25% 25% 25% 25%; 
padding: 5%;
height: 22em;
margin-left: 30%;
margin-top: 8%;

@media only screen and (max-width : 600px) {
border-color: aliceblue;
 border: 20%;
 display: grid;
 grid-template-columns: 100%; 
 grid-template-rows: 100%;
 
}
}
