body{

    background-color: #010400;
    background-image: url(./views/gif/henrickbgr.jpg);
    display: flex;
    background-size: cover;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
  background-attachment: fixed;
}

