body{

    background-color: #010400;
    background-image: url(./views/gif/henrickbg.jpg);
    display: flex;
    background-size: contain;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
  background-attachment: fixed;
  max-width: 1200px;
}

